body{
    background: linear-gradient( to right bottom ,rgb(63, 19, 61), rgb(15, 27, 66));
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
}
.header{
    background: linear-gradient(to right bottom ,rgb(68, 20, 20),rgb(226, 14, 60));
    max-width: 600px;
    max-height: 400px;
    margin: 120px auto;
    border-radius: 50px;
    border: 2px solid rgb(243, 246, 246);
    transition: all .5s;
    box-shadow: thistle;
    
    
  
   

    
}.header:hover{
    transform: translateY(-8px);
    box-shadow: -10px 10px 10px rgba(151, 39, 108, 0.4);
}.img1{
    width: 110px;
    height:110px;
    border-radius:50%;
    filter: blur(1px);
    margin-top: 10px ;
    margin-top: 10px ;
    margin-left: 230px;
    border: 3px solid rgb(158, 161, 161);
    animation: img1 1s ease-out;

   
}@keyframes img1{
    0%{opacity: 0; transform: translateY(30px);}
    100%{opacity: 1; transform: translateY(0);}
}.title{
     
    font-family: 'Source Sans Pro', sans-serif;
}.singer1 {
    font-size: 20px;
    display: inline-block;
    background-image: linear-gradient( to right,rgb(238, 238, 237), rgb(221, 11, 221));
    -webkit-background-clip:text;
    color: transparent;
    margin-top: 5px;
    margin-left: 215px;
    animation: song1 1s ease-out;
    
}.song-name1{
    font-size:15px;
    display: inline-block;
    background-image: linear-gradient( to right,rgb(238, 238, 237), rgb(221, 11, 221));
    -webkit-background-clip:text;
    color: transparent;
    margin-top: 5px;
    margin-left: 215px;
    animation: song1 1s ease-out;

}@keyframes song1{
    0%{
        opacity: 0; transform: translateX(-50px);
    }
    100%{
        opacity: 1;transform: translateX(0);
    }
}.song-track{
   background-color: red;
}#play1{
    color: tomato;
    width: 30px;
    height: 30px;
}#but-play{
    background-color: rgba(87, 69, 69, 0);
    border: none;
    margin-top: 150px;
    margin-left: 270px;
}.div-play-list{
    margin-left: 180px;
    margin-top: 140px;
    padding-bottom: 40px;
    padding-right: 20px;
    animation: play 1s ease-out;
}
@keyframes play{
    0%{
        opacity: 0; transform: translateY(20px);
    }
    100%{
        opacity: 1;  transform: translateY(0);
    }
}.previous1{
    padding-right: 40px;
}.next1{
    padding-left: 40px;
    transition: all .5s;
   
}#pause1{
    display: none;
    width: 50px;
    height: 50px;
}.menu{
float: right;
margin-right: 50px;
margin-top: -80px;



}.menu-musics{
    position: fixed;
}.play{
    transition: all .5s;
}.play:hover{
    transform: rotateY(360deg);
}
#pause1{
    transition: all .5s;
}#pause1:hover{
    transform: rotateY(360deg);
}
.next-music{
    transition: all .5s;
}
.next-music:hover{
    transform: rotateZ(-360deg);
}.menu-list{
    display: none;
    text-decoration: none;
    float: right;
    margin-top: -500px;
    margin-right: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    
    
    
}.garsha-list{
    text-decoration: none;
    background-image: linear-gradient( to right,rgb(238, 238, 237), rgb(221, 11, 221));
    -webkit-background-clip:text;
    color: transparent;

}.kasra-list{
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient( to right,rgb(238, 238, 237), rgb(1, 7, 12));
    -webkit-background-clip:text;
    color: transparent;

}.naser-list{
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient( to right,rgb(212, 167, 16), rgb(17, 11, 17));
    -webkit-background-clip:text;
    color: transparent;

}.asef-list{
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient( to right,rgb(36, 179, 204), rgb(85, 24, 184));
    -webkit-background-clip:text;
    color: transparent;
    cursor: pointer;
   
    
}

